body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh-);
}

.navbar {
    background-color: #ffffff;
    color: rgb(105, 105, 107);
    padding: 10px 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.main-content {
    display: flex;
    height: calc(100% - 36px); /* Adjust based on navbar height */
}

#map {
    position: absolute;
    top: 63px;
    width: 60vw;
    height: calc(100vh - 36px);
}




#sidebar {
    position: absolute;
    top: 63px;
    right: 0px; /* Hide the sidebar initially */
    width: 40vw;
    height: calc(100vh - 36px);
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.082);
    transition: right 0.3s;
    z-index: 1000;
    overflow: scroll;
}

#toggleSidebarBtn {
    position: absolute;
    top: 50vh;
    right: -5px; /* Move button to the left of the sidebar */
    transition: right 0.3s;
    z-index: 999;
}

#polylineMenu {
    position: absolute;
    visibility: hidden;
    padding: 10px;
    bottom: 10px;
    right: 20px;
    z-index: 998;
    transition: right 0.3s;
}

#polylineMenu.show {
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 460px;
    z-index: 998;

}



#toggleSidebarBtn.show {
    right: 445px;
}

.form-group {
    padding-bottom: 20px;
}

.rounded-circle {
    height: 30px;
}

#dataTable {
    margin-top: 70px;
}

.table {
    padding: 20px;
}

.colDeskripsi {
    width: 40vw;
}

.colNama {
    width: 20vw;
}

.profile-img-about {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #22a6b3;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.alert-container {
    padding: 10px;
    position: absolute;
    top: 70px;
    left: 25%;
    z-index: 997;
}


@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

